<!-- templates/registration/login.html -->
{% extends 'base.html' %}
{% load static %}
{% block title %}Login{% endblock %}

{% block content %}

  
<form class="login" name="LoginForm" action="/" method="post">
  {% csrf_token %}
  <input type="text" placeholder="Username" for="username">
  {% csrf_token %}
  <input type="password" placeholder="Password" for="password">
  <button>Login</button>
</form>
<a href="https://codepen.io/davinci/" target="_blank">check my other pens</a>
{% endblock content %}


